CompileFlags:
  Add:
    - -IC:/Users/bruce/Documents/DEV/AA_CPP/SDL/nedob_emulator/vendored/include
    - -std=c++23
    - -Wall
    - -Wextra
    - -Werror
    - -Wno-unused-parameter
    - -Wno-missing-declarations

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None
  ClangTidy:
    Remove:
      - modernize-*
      - readability-*
